body {
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  background-color: blanchedalmond;
}
.titulo {
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Blog {
  color: aliceblue;
}
#cabecalho {margin-top: 
50px;
  padding-top: 0px;
  color: black;
  background-color: #f7b600;
  text-align: center;
}

a {
  color: whitesmoke;
  font-size: 1.3em;
  text-decoration: none;
  padding: 10px;
}
a:hover {
  font-size: 1.5em;
  color: #f7b600;
  background-color: red;
}
#menuprincipal {
  width: 550px;
 
  margin-left: 500px;
  background-color: brown;
  padding: 10px;
  margin-bottom: 10px;
}
#corpoDaPage {
 
  width: 920px;
  margin: 0px auto;
}

#PostagensLaterais {
  margin: 10px;
  width: 280px;

  float: right;
  background-color: white;
}
p > a {
  font-size: 1em;
  color: #f7b600;
  padding: 0px;
  margin: 0px;
}
p > a:hover {
  background-color: blanchedalmond;
  font-size: 1.3em;
  color: #1a1918;
  padding: 0px;
  margin: 0px;
}
.titulosLaterais {
  background-color: dimgrey;
  color: white;
  padding: 5px;
  margin: 5px;
  font-size: 1.3em;
}
.conteudoLateral {
  padding: 0px 5px;
}
li {
  list-style-type: none;
}
li > a {
  font-size: 1em;
  color: #f7b600;
  padding: 0px;
  margin: 0px;
}
li > a:hover {
  background-color: blanchedalmond;
  font-size: 1.3em;
  color: #1a1918;
  padding: 0px;
  margin: 0px;
}
.menulatreral {
  padding-left: 5px;
}
.conteudoCentral {
  padding: 10px;
  float: left;
  width: 500px;
  background-color: white;
}
h2 {
  color: #f7b600;
  font-size: 1.4em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.data {
  font-size: 0.8em;
}
.rodape {
  font-size: 1.3em;
padding: 15px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.clear {
  clear: both;
}
